@import "tailwindcss";

.mask-gradient-center {
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}

@media (min-width: 768px) {
  .mask-gradient-center {
    mask-image: linear-gradient(to right, transparent 0%, black 40%, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 40%, black 60%, transparent 100%);
  }
}

@keyframes scroll-x {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll-x {
  animation: scroll-x 20s linear infinite;
}
/* Border Spin Animation*/
@keyframes border-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-border-spin {
  animation: border-spin 4s linear infinite;
}

@keyframes rotateRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-rotateRing {
  animation: rotateRing 4s linear infinite;
}